h1{
    text-align: center;
}



nav{
    text-align: center;
    border-bottom: 2px solid black;
    margin-bottom: 1%;
    padding-bottom: 1%;
}

a{
    margin-left: 10px;
    margin-right: 20px;
    text-decoration: none;
    color: #d27e47;
}

a:hover{
    color: #6f3b19;
}

a:active {
    color: #ff4000;
}

.input {
    margin: 3%;
    padding: 3%;
    display: inline-block;
    width: 50%;
    border-radius: 20px;
}



body {
    background-color: #eccfc3;
}

.forms {
    border: 1px solid black;
    float: left;
    width: 50%;
    background-color: #ecb8a5;
    text-align: center;
}

#formbutton {
    background-color: #ed8761;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

.eachJoke {
    width: 50%;
    margin: 3%;
    border: 5px hidden black;
    border-radius: 20px;
    box-shadow: 6px 6px 6px 6px rgba(0,0,0,0.5);
    flex: 40%;
    padding: 5%;
}

.jokescontainer {
    display: flex;
    flex-wrap: wrap;
    float: right;
    width: 40%;
    text-align: center;
}

#about {
    border: 1px solid black;
    padding-bottom: 5%;
    /* float: left;
    width: 50%;
    background-color: #ecb8a5;
    text-align: center;
    margin-bottom: 5%; */

}



