h1{
    text-align: center;
}



nav{
    text-align: center;
    border-bottom: 2px solid black;
    margin-bottom: 1%;
    padding-bottom: 1%;
}

a{
    margin-left: 10px;
    margin-right: 20px;
}

input {
    /* margin-top: 5%;
    margin-bottom: 2.5%;
    margin-left: 1%; */
    margin-left: 5%;
    margin-bottom: 2%;
    padding: 1%;
    display: inline-block;
    width: 50%;
    float: left;
}



body {
    background-color: #eccfc3;
}

.forms {
    border: 1px solid black;
    padding-bottom: 7%;
}

.formz {
    width: 25%;
    margin-top: 6%;
    margin-right: 3%;
    margin-bottom: 4%;
    margin-left: 3%;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

.eachJoke {
    width: 50%;
    margin: 1rem;
    border: 5px hidden black;
    border-radius: 20px;
    box-shadow: 6px 6px 6px 6px rgba(0,0,0,0.5);
    flex: 40%;
    flex-wrap: wrap;
    padding: 1%;
}

.jokescontainer {
    display: flex;
    flex-wrap: wrap;
}



